<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error 404</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<header>
    <%- include("partials/indexNavbar") %>
    <%- include("partials/linksAndScripts") %>
</header>
<body>
    <!-- login modal -->
    <%- include("partials/login") %>

    <!-- register modal -->
    <%- include("partials/register") %>

    <!-- profile modal -->
    <%- include("partials/profile") %>
    
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
 <div class="modal-header border-bottom-0">
   <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
 </div>
 <div class="modal-body">
   <div class="form-title text-center">
     <h4>Wachtwoord instellen</h4>
   </div>
   <div class="d-flex flex-column text-center">
     <form action="/reset-password/<%= token %>" method="POST" oninput='password2.setCustomValidity(password2.value != password.value ? "Passwords do not match." : "")'>
        <div class="form-group mt-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="uw wachtwoord" required>
        </div>
        <div class="form-group mt-3">
            <input type="password" class="form-control" id="password2" name="password2" placeholder="bevestig wachtwoord" required>
        </div>
       <button type="submit" class="btn btn-warning me-2 mt-4">Opslaan</button>
     </form>
   </div>
 </div>
</div>
</div>
</div>
    <footer class="py-3 my-4">
      <p class="text-center text-body-secondary">LMG © 2024</p>
    </footer>
</body>
</html>